<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting data from the IP Address #1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">IP-Info-finder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/Solid999">Github</a></li>
        <li><a href="https://www.npmjs.com/package/ip-info-finder">Credits</a></li>
      </ul>
    </div>
  </nav>
  <h2>Get data from the IP Address</h2>
   <form action="/result" method="POST">
    <input id="ipaddress" type="text" name="ipaddress" placeholder="IP Address">
   </form>




</body>
<script src="./js/home.js"></script>
</html>